* {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ebc8b2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fff;
}

.LandingPage-Desc {
  font-size: calc(10px + 2vmin);
}

.Icon-Overlay {
  position: fixed;
  right: 0%;
  top: 0%;
  z-Index: 1000;
  height: 100vh;
  background: #ffffff;
  width: clamp(1.875em, 3vw, 1.25px);
}

.Icon-Image {
  left: 20%;
  width: clamp(1.25em, 1vw, .75em);
  position: relative;
  transition: all .5s ease;
}

.Icon-Image:hover {
  width: clamp(1.45em, 2vw, .15em);
}

.logo:hover {
  transform: translateY(-2.5px);
  transition: all .25s ease;
}


@media only screen and (max-width: 43.75em) {

  .LandingPage-NameBox {
    border: 10px solid white;
    min-width: 40vw;
    box-Shadow: 0 5px #666;
    max-height: 30vw;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .LandingPage-Name{
    font-size: calc(35px + 3vmin);
    margin-bottom: -5px;
    margin-top: -16px;
  }


  .LandingPage-Name:hover {
    font-size: calc(40px + 3vmin);
    transition: all 1s ease;
  }

  .LandingPage-Desc {
    font-size: calc(8px + 2vmin);
  }

  .Icon-Overlay {
    position: fixed;
    right: 0%;
    top: 0%;
    z-Index: 1000;
    height: 100vh;
    background: #ffffff;
    width: 4vw;
    min-width: 4vw;
  }

  .Icon-Image {
    margin: auto;
    width: clamp(1.25em, 1vw, .75em);
    position: relative;
  }
}


