.App {
  text-align: center;
}

.App-header {
  background-color: #ebc8b2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fff;
}

.LandingPage-NameBox {
  border: 10px solid white;
  min-width: 50vw;
  box-Shadow: 0 5px #666;
  max-height: 50vw;
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.LandingPage-Name {
  font-size: calc(70px + 3vmin);
  margin: 0 auto;
  padding: 0;
}

.LandingPage-Name:hover {
  font-size: calc(80px + 3vmin);
  transition: all 1s ease-in-out;
}


@media only screen and (max-width: 700px) {
  .LandingPage-Name {
    font-size: calc(50px + 3vmin);
    margin: 0 auto;
  }
  
  .LandingPage-Name:hover {
    font-size: calc(60px + 3vmin);
    transition: all 1s ease-in-out;
  }
  .LandingPage-NameBox {
    border: 10px solid white;
    min-width: 50vw;
    box-Shadow: 0 5px #666;
    max-height: 50vw;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

